{% extends "default.xml.twig" %}

{% block content %}
<ClinicalDocument 
    
    {# Namespace #}
    xmlns="urn:hl7-org:v3" 
    
    {# Model intercange format #}
    xmlns:mif="urn:hl7-org:v3/mif"
    
    
    {# Vocabulary #}
    xmlns:voc="urn:hl7-org:v3/voc" 
    
    
    {# XML Schema #}
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:hl7-org:v3 CDA.xsd"

>

    <!-- CDA Header -->

    {# Unique ID of the model #}
    <typeId 
        
        {# OID of the HL7 model #}
        root="2.16.840.1.113883.1.3" 
        
        {# Unique identifier for hierachy CDA Release 2 #}
        extension="POCD_HD000040" 
    />
    
    
    {# Unique ID of the document #}
    <id root="2.16.840.1.113883.19.4" extension="c266"/>
    
    
    {# Document type #}
    <code 
        code="11488-4" 
        codeSystem="2.16.840.1.113883.6.1" 
        codeSystemName="LOINC"
        displayName="Consultation note"
    />
    
    
    {# Creation time: 20050329224411-0500  #}
    <effectiveTime value="{{ document['created_at'] }}"/>
    
    
    {# Confidentiality code: normal #}
    <confidentialityCode code="N" codeSystem="2.16.840.1.113883.5.25"/>
    
    
    {# Patient #}
    <recordTarget>
        
        {# Role #}
        <patientRole>
            
            {# Id of the patient #}
            <id extension="12345" root="2.16.840.1.113883.19.99.9"/>
            
            
            {# Patient information #}
            <patient>
            
                <name>
                    <given>{{ patient['name'] }}</given>
                    <family>{{ patient['surname1'] }}</family>
                    {% if patient['surname2'] %}
                    <family>{{ patient['surname2'] }}</family>
                    {% endif %}
                </name>
     
     
                {# Gender #}
                <administrativeGenderCode code="M" codeSystem="2.16.840.1.113883.5.1"/>
                
                
                {# Patient #}
                <birthTime value="{{ patient['birth'] }}"/>
 
            </patient>
            {# Enf of patient information #}
        
        </patientRole>
        {# End of patient role #}

    </recordTarget>
    {# End of patient #}
    
    
    {# Creator of the document #}
    <author>
    
        {# Creation #}
        <time value="{{ 'now'|date('YmdHi') }}"/>

        
        {# Organitation #}
        <assignedAuthor>
            <id extension="KP00017" root="2.16.840.1.113883.19.5"/>
        </assignedAuthor>
    </author>
    {# End of the creator of the document #}
    
    
    <!-- CDA Body -->
    <component>
        <structuredBody>
            <component>
                
                <!-- Patient history -->
                <section>
                
                    <!-- Title -->
                    <title>History of Present illness Narrative</title>
                    
                    
                    <!-- 10164-2. History of Present illness Narrative -->
                    <code code="10164-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC"/>
                    
                </section>
                
                
                <!-- Body weight measures -->
                <section>
                
                    <!-- Title -->
                    <title>Body Weight Measures</title>
                    
                    
                    {% for measure in measures['body_weight'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="301333006" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="peso-corporal"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['weight'] }}" unit="kg" />
                            </observation>
                        </entry>
                        
                        {% if measure['bmi'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="60621009" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="BMI. Body Mass Index"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['bmi'] }}" />
                            </observation>
                        </entry>
                        {% endif %}
                        {% if measure['bmr'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="122869004" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="BMR. Basal Metabolic Rate"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['bmr'] }}" />
                            </observation>
                        </entry>
                        {% endif %}
                    {% endfor %}
                
                </section>
                <!-- End of weight -->
                
                
                <!-- Glucose measures -->
                <section>
                
                    <!-- Title -->
                    <title>Glucose measures</title>
                    
                    
                    {% for measure in measures['glucose'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="{{ code }}" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="{{ measure['name'] }}"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['glucose'] }}" />
                            </observation>
                        </entry>
                    {% endfor %}
                
                </section>
                <!-- End of glucose measures -->
                
                
                <!-- Blood preassure measures -->
                <section>
                
                    <!-- Title -->
                    <title>Blood preassure measures</title>
                    
                    
                    {% for measure in measures['blood_pressure'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="271649006" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="systolic"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['systolic'] }}" />
                            </observation>
                        </entry>
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="271650006" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="diastolic"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['diastolic'] }}" />
                            </observation>
                        </entry>
                    {% endfor %}
                
                </section>
                <!-- End of blood preassure measures -->
                
                
                <!-- Pulse measures -->
                <section>
                
                    <!-- Title -->
                    <title>Pulse measures</title>
                    
                    
                    {% for measure in measures['pulse'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="366199006" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="pulse"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['pulse'] }}" />
                            </observation>
                        </entry>
                    {% endfor %}
                
                </section>
                <!-- End of pulse meassures -->
                
                
                <!-- Oxygen measures -->
                <section>
                
                    <!-- Title -->
                    <title>Pulse measures</title>
                    
                    
                    {% for measure in measures['oxygen'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="104847001" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="oxygen"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['oxygen'] }}" />
                            </observation>
                        </entry>
                    {% endfor %}
                
                </section>
                <!-- End of Oxygen meassures -->

                
            </component>
        </structuredBody>
    </component>

</ClinicalDocument>
{% endblock %}