{% extends "default.xml.twig" %}

{% block content %}
{# The ClinicalDocument class is the entry point into the CDA R-MIM, the root element of a CDA document. #}
<ClinicalDocument 
    
    {# Namespace #}
    xmlns="urn:hl7-org:v3" 
    
    {# Model intercange format #}
    xmlns:mif="urn:hl7-org:v3/mif"
    
    
    {# Vocabulary #}
    xmlns:voc="urn:hl7-org:v3/voc" 
    
    
    {# XML Schema #}
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:hl7-org:v3 CDA.xsd"

>
    <!-- CDA Header --> {# @see http://www.cdapro.com/know/25007 #}
    {# Unique ID of the model #}
    <typeId 
        
        {# 
         # OID of the HL7 model
         #
         # Health Level 7 (HL7) registered Refined Message Information Models (RMIMs) 
         #
         # @see http://oid-info.com/get/2.16.840.1.113883.1.3
         #}
        root="2.16.840.1.113883.1.3" 
        
        {# Unique identifier for hierachy CDA Release 2 #}
        extension="POCD_HD000040" 
    />
    
    
    {# Unique ID of the document #}
    <id root="{{ cda['root'] }}" extension="{{ document['id'] }}"/>
    
    
    {# 
     # Document type
     #
     # Logical Observation Identifier Names and Codes (LOINC)
     #
     # This term was created for, but is not limited in use to, 
     # the HL7 FHIR Vital Signs Profile (http://build.fhir.org/observation-vitalsigns.html). 
     # This collection includes the standard vital sign 
     # measurements (heart and respiratory rate, blood pressure and body temperature) 
     # along with measurements for oxygen saturation, height, weight, head circumference, 
     # and body mass index (BMI). All measurements are optional in this panel.
     #
     # @see http://oid-info.com/get/2.16.840.1.113883.6.1
     # @see https://r.details.loinc.org/LOINC/85353-1.html?sections=Comprehensive
     #}
    <code 
        code="85353-1" 
        codeSystem="2.16.840.1.113883.6.1" 
        codeSystemName="LOINC"
        displayName="Vital signs, weight, height, head circumference, oxygen saturation and BMI panel"
    />
    
    
    {# Creation time: 20050329224411-0500 #}
    <effectiveTime value="{{ cda['created_at']|date('YmdHi') }}"/>
    
    
    {# 
     # Confidentiality code
     #
     # Privacy metadata indicating the sender's sensitivity classification, 
     # which is based on an analysis of applicable privacy policies and 
     # the risk of harm that could result from unauthorized disclosure. 
     #
     # possible values: Normal, restricted, substance abuse related.
     #
     # normal: the information is typical, non-stigmatizing health information, 
     #         which presents typical risk of harm if disclosed without authorization.
     #          
     # @see https://www.hl7.org/documentcenter/public_temp_CCA2FF45-1C23-BA17-0CC8CAB2827597E8/standards/vocabulary/vocabulary_tables/infrastructure/vocabulary/vs_Confidentiality.html
     #}
    
    <confidentialityCode code="N" codeSystem="2.16.840.1.113883.5.25"/>
    
    
    {# 
     # recordTarget
     # 
     # Describing the participation that connects the patient 
     # information to the clinical document. 
     #
     # @see http://www.cdapro.com/know/25068 
     #}
    <recordTarget>
        
        {# 
         # Role 
         #
         # Properties of the patient that are related to the context 
         # of their role of “being a patient”
         #
         # @see http://www.cdapro.com/know/25054 
         #}
        <patientRole>
            
            {# 
             # Id of the patient
             #
             # Identifier of the patient in the healthcare 
             # organization where they are a patient
             #}
            <id root="{{ cda['root'] }}.{{ document['id'] }}" extension="{{ patient['id'] }}" />
            
            
            {# 
             # Patient information
             #
             # Properties of the patient as a person
             #
             # @see http://www.cdapro.com/know/27368
             #}
            <patient>
            
                {# name @see http://www.cdapro.com/know/25041 #}
                <name>{{ patient['name'] }}</name>
                
                
                {# Gender @see http://www.cdapro.com/know/27375 #}
                <administrativeGenderCode code="{{ patient['genre'] }}" codeSystem="2.16.840.1.113883.5.1" />
                
                
                {# Birth @see http://www.cdapro.com/know/25058 #}
                <birthTime value="{{ patient['birth'] }}" />
                
            </patient>
            {# Enf of patient information #}
        
        </patientRole>
        {# End of patient role #}

    </recordTarget>
    {# End of patient #}
    
    
    {# Creator of the document #}
    <author>
    
        {# Creation #}
        <time value="{{ 'now'|date('YmdHi') }}"/>
        
        
        {# Author #}
        <assignedAuthor>
            <id root="{{ cda['root'] }}.{{ document['id'] }}" extension="{{ cda['author']['id'] }}" />
        </assignedAuthor>
    </author>
    {# End of the creator of the document #}
    
    
    {# custodian #}
    <custodian>
        <assignedCustodian>
            <representedCustodianOrganization>
                <id root="{{ cda['custodian'] }}"/>
            </representedCustodianOrganization>
        </assignedCustodian>
    </custodian>
    {# End of the custodian of the document #}
    
    
    <!-- CDA Body -->
    {# 
     # component
     #
     # @see http://www.cdapro.com/know/24993 What is the high-level CDA document syntax?
     # @see http://www.cdapro.com/know/26762 Clinical act statements
     #}
    
    <component>
    
        {# 
         # The structured body is made up of a series of section 
         # elements. 
         #}
        <structuredBody>
        
            <component>

                <!-- Body weight measures -->
                <section>
                
                    <!-- Title -->
                    <title>Body Weight Measures</title>
                    
                    
                    {% for measure in measures['body_weight'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="301333006" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="peso-corporal"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['weight'] }}" unit="kg" />
                            </observation>
                        </entry>
                        
                        {% if measure['bmi'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="60621009" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="BMI. Body Mass Index"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['bmi'] }}" />
                            </observation>
                        </entry>
                        {% endif %}
                        {% if measure['bmr'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="122869004" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="BMR. Basal Metabolic Rate"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['bmr'] }}" />
                            </observation>
                        </entry>
                        {% endif %}
                    {% endfor %}
                
                </section>
                <!-- End of weight -->
                
                
                <!-- Glucose measures -->
                <section>
                
                    <!-- Title -->
                    <title>Glucose measures</title>
                    
                    
                    {% for measure in measures['glucose'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="{{ code }}" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="{{ measure['name'] }}"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['glucose'] }}" />
                            </observation>
                        </entry>
                    {% endfor %}
                
                </section>
                <!-- End of glucose measures -->
                
                
                <!-- Blood preassure measures -->
                <section>
                
                    <!-- Title -->
                    <title>Blood preassure measures</title>
                    
                    
                    {% for measure in measures['blood_pressure'] %}
                        {% if measure['systolic'] %}
                            <entry>
                                <observation classCode="OBS" moodCode="EVN">
                                    <code 
                                        code="271649006" 
                                        codeSystem="2.16.840.1.113883.6.96"
                                        codeSystemName="SNOMED CT" 
                                        displayName="systolic"/>
                                    <effectiveTime value="{{ measure['time'] }}"/>
                                    <value xsi:type="PQ" value="{{ measure['systolic'] }}" />
                                </observation>
                            </entry>
                        {% endif %}
                        {% if measure['diastolic'] %}
                            <entry>
                                <observation classCode="OBS" moodCode="EVN">
                                    <code 
                                        code="271650006" 
                                        codeSystem="2.16.840.1.113883.6.96"
                                        codeSystemName="SNOMED CT" 
                                        displayName="diastolic"/>
                                    <effectiveTime value="{{ measure['time'] }}"/>
                                    <value xsi:type="PQ" value="{{ measure['diastolic'] }}" />
                                </observation>
                            </entry>
                        {% endif %}
                    {% endfor %}
                
                </section>
                <!-- End of blood preassure measures -->
                
                
                <!-- Pulse measures -->
                <section>
                
                    <!-- Title -->
                    <title>Pulse measures</title>
                    
                    
                    {% for measure in measures['pulse'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="366199006" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="pulse"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['pulse'] }}" />
                            </observation>
                        </entry>
                    {% endfor %}
                
                </section>
                <!-- End of pulse meassures -->
                
                
                <!-- Oxygen measures -->
                <section>
                
                    <!-- Title -->
                    <title>Pulse measures</title>
                    
                    
                    {% for measure in measures['oxygen'] %}
                        <entry>
                            <observation classCode="OBS" moodCode="EVN">
                                <code 
                                    code="104847001" 
                                    codeSystem="2.16.840.1.113883.6.96"
                                    codeSystemName="SNOMED CT" 
                                    displayName="oxygen"/>
                                <effectiveTime value="{{ measure['time'] }}"/>
                                <value xsi:type="PQ" value="{{ measure['oxygen'] }}" />
                            </observation>
                        </entry>
                    {% endfor %}
                
                </section>
                <!-- End of Oxygen meassures -->
                
            </component>
        
        </structuredBody>
        <!-- End of structured body -->
        
    </component>

</ClinicalDocument>
{% endblock %}